a.navbar-posision {
    color: #963f3f;
}
a.navbar-posision img {
    width: 120px;
}

/*--------------------------*/

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    position: relative;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.product-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffebf1;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
}

.top-seller {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #000;
    color: white;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 3px;
}

.product-image {
    text-align: center;
    margin-bottom: 15px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-size: 1rem;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
}

.rating {
    color: #ffd700;
    margin-bottom: 10px;
}

.price-container {
    margin-bottom: 15px;
}

.original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
}

.discounted-price {
    color: #000;
    font-weight: bold;
}

.btn-primary {
    background-color: #c71585;
    border: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    width: 100%;
}

.btn-primary:hover {
    background-color: #a01574;
}
/*--------------------------*/
.swiper-slide p {
    font-size: 1.2rem;
    color: #000;
}
.swiper-charts {
    width: 600px;
}
